/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: 'Rubik Mono One', sans-serif;
}

html{
    overflow-y: hidden;
    scroll-behavior: smooth;
}

/* Utils */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

.green{
    color: green;
}

/* Main */
.full-page{
    height: 100vh;
    position: relative;
    background-color: red;
}

.shoes-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shoes-title{
    font-size: 43px;
    color: yellow;
}

.nav-container{
    position: absolute;
    top: 20px;
    right: 20px;
}

ul{
    list-style: none; 
}

a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
